<% provide(:title, 'Log In')
   provide(:width, '460')
   provide(:form_first, 'true') %>
<p align="center">
  New user? <b><%= link_to 'Sign up', signup_path %></b> here!
</p>
<%= form_for(:session, url: login_path) do |f| %>
<table width="100%" class="content" style="<%= width_override yield(:width) %>">
<%= render 'layouts/header' %>
  <tr class="info">
    <td align="left">
      <p class="info" align="center">
        <b><%= f.label :email, "E-mail" %></b>
      </p>
    </td>
    <td align="right">
      <p align="center">
        <%= f.email_field :email %>
      </p>
    </td>
  </tr>
  <tr class="cell4">
    <td align="left">
      <p class="info" align="center">
        <b><%= f.label :password %></b>
      </p>
    </td>
    <td align="right">
      <p align="center">
        <%= f.password_field :password %>
      </p>
    </td>
  </tr>
  <tr class="info">
    <td align="left" colspan="2">
      <p class="info" align="center">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <b>Keep me logged in</b>
        <% end %>
      </p>
    </td>
  </tr>
  <tr class="cell1">
    <td align="center" colspan="2" class="footer">
      <%= f.submit 'Log In' %>
    </td>
  </tr>
</table>
<% end %>
