<% provide(:title, 'Reset Password')
   provide(:page_size, 'small') %>
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :email, @user.email %>
  <table>
  <% if logged_in? %>
    <tr class="form">
      <td>
        <p><b><%= f.label :old_password, "Current Password" %></b></p>
      </td>
      <td>
        <%= f.password_field :old_password %>
      </td>
    </tr>
  <% end %>
    <tr class="form">
      <td>
        <p><b><%= f.label :password, "New Password" %></b></p>
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>
    <tr class="form">
      <td>
        <p>
          <b><%= f.label :password_confirmation, "Confirm New Password" %></b>
        </p>
      </td>
      <td>
        <%= f.password_field :password_confirmation %>
      </td>
    </tr>
  </table>
  <div class="cell1">
    <span class="footer">
      <%= f.submit "Update password" %>
    </span>
  </div>
<% end %>
