<% provide(:title, 'Reset Password')
   provide(:width, '460') %>
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :email, @user.email %>
  <table>
  <% if logged_in? %>
    <tr class="info">
      <td align="left">
        <p class="info" align="center">
          <b><%= f.label :old_password, "Current Password" %></b>
        </p>
      </td>
      <td align="right">
        <p align="center">
          <%= f.password_field :old_password %>
        </p>
      </td>
    </tr>
  <% end %>
    <tr class="cell4">
      <td align="left">
        <p class="info" align="center">
          <b><%= f.label :password, "New Password" %></b>
        </p>
      </td>
      <td align="right">
        <p align="center">
          <%= f.password_field :password %>
        </p>
      </td>
    </tr>
    <tr class="info">
      <td align="left">
        <p class="info" align="center">
          <b><%= f.label :password_confirmation, "Confirm New Password" %></b>
        </p>
      </td>
      <td align="right">
        <p align="center">
          <%= f.password_field :password_confirmation %>
        </p>
      </td>
    </tr>
  </table>
  <div class="cell1">
    <span align="center" class="footer">
      <%= f.submit "Update password" %>
    </span>
  </div>
<% end %>
