  <tr class="topic-preview">
    <td>
      <%= link_to topic.title, topic,
            title: pluralize(topic.views, 'view'),
            class: 'topic-title' %>
      <%= delete_link_for topic if admin_user %>
      <p class="post-preview">
        <%= truncate(topic.content, length: 256) %>
      </p>
    </td>
    <td>
      <p class="topic-info">
        <%= link_to pluralize(topic.replies, 'reply'), topic %>
        <% if topic.contactable? %>
          <strong>&middot;</strong>
          <%= contact_link_for topic %>
        <% end %>
        <br />
        <%= format_date(last_posted_for topic) %>
      </p>
    </td>
  </tr>
