<tr class="cell1">
  <td colspan="100%" class="header">
    <%= link_to "Log In",    '#' %> &nbsp;|&nbsp;
    <%= link_to "New Topic", '#' %> &nbsp;|&nbsp;
    <%= link_to "Search",    '#' %>
  </td>
</tr>

<tr class="cell2">
  <td colspan="100%">
    <%= will_paginate @topics, page_links: false, link_separator: ' | ',
        previous_label: "Prev Page", next_label: "Next Page" %>
  </td>
</tr>

<tr class="cell3">
  <td colspan="2">
    <p style="padding-left: 3px;"><b>Topic</b></p>
  </td>
  <td width="125px">
    <b>Replies</b>
  </td>
</tr>

<%= render @topics %>

<tr class="cell1">
  <td colspan="100%">
    <%= will_paginate @topics %>
  </td>
</tr>
