  <div class="cell3">
    &nbsp;
    <b>Posted:</b>
    <%= format_date(post.created_at) %>
    &nbsp;|&nbsp;
    <%= link_to 'Context', path_for(post) %>
    &nbsp;|&nbsp;
    <%= delete_link_for(topic, post) %>
    &nbsp;|&nbsp;
    <%= link_to 'Unflag', dismiss_path(post), class: 'dismiss', method: :patch %>
  </div>
  <div class="cell4">
    <p class="post">
      <%= post.content %>
    </p>
  </div>
