<% if displayable?(post)  %>
  <tr class="cell3">
    <%= content_tag :td, nil, class: 'poster' %>
    <td>
      <%= anchor_tag(post) %>
      <span class="post-info">
        <strong>Posted:</strong> <%= format_date(post.created_at) %>
      </span>
      <% if post.contact %>
        <%= content_tag :span, contact_link_for(@topic, post: post),
              class: 'post-info' %>
      <% end %>
      <% if logged_in? %>
        <%= content_tag :span, report_link_for(@topic, post: post),
              class: 'post-info' %>
      <% end %>
      <%= content_tag :span, quote_link_for(post),
            class: "post-info" %>
      <% if admin_user %>
        <%= content_tag :span, delete_link_for(@topic, post: post),
              class: 'post-info' %>
      <% end %>
    </td>
  </tr>
  <tr class="cell4">
    <td class="poster">
      <%= content_tag :div, poster_for(post, page: params[:page]),
            class: 'poster' %>
    </td>
    <td>
      <% if has_displayable_quote?(post) %>
        <%= render 'posts/quote', quote: post.quoted %>
      <% end %>
      <%= content_tag :p, format_text(post.content),
            class: 'tabular-post' %>
    </td>
  </tr>
<% else %>
  <!-- <%= poster_for post, page: params[:page] %> -->
<% end %>
