<tr class="cell3">
  <td width="80px">
  </td>
  <td colspan="100%">
    <a name="p<%= post.id %>"></a>
    <b>Posted:</b> <%= sanitize_date(post.created_at) %> &nbsp;|&nbsp;
    <% if post.contact %>
      <b><%= link_to "Contact", '#' %></b> &nbsp;|&nbsp;
    <% end %>
    <%= link_to "Report", '#' %> &nbsp;|&nbsp;
    <%= link_to "Quote",  quote_path(@topic, post) %>
  </td>
</tr>
<tr class="cell4">
  <td width="80px">
    <div class="poster">
      <%= poster_for post, params[:page] %>
    </div>
  </td>
  <td colspan="100%">
<% if !post.quote.nil? %>
    <div class="quote">
      <%= link_to "Quote:", '#' %>
      <br />
      <%= Post.find_by(id: post.quote).content %>
    </div>
<% end %>
    <p class="post2">
      <%= post.content %>
    </p>
  </td>
</tr>
