<% if displayable?(post)  %>
  <tr class="cell3">
    <td class="poster">
    </td>
    <td>
      <a name="<%= anchor_for(post) %>"></a>
      <strong>Posted:</strong> <%= format_date(post.created_at) %>
      <% if post.contact %>
        &nbsp;|&nbsp;
        <%= link_to "Contact", new_pm_topic_path(@topic, post),
              class: "contact" %>
      <% end %>
      <% if logged_in? %>
        &nbsp;|&nbsp;
        <%= link_to "Report", topic_post_path(@topic, post),
              method: :patch,
              data: { confirm: "Flag this post for moderation?" } %>
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to "Quote", quote_path(@topic, post) %>
      <% if admin_user %>
        &nbsp;|&nbsp;
        <%= delete_link_for(@topic, post) %>
      <% end %>
    </td>
  </tr>
  <tr class="cell4">
    <td class="poster">
      <div class="poster">
        <%= poster_for post, params[:page] %>
      </div>
    </td>
    <td>
    <% if post.quoted && displayable?(post.quoted) %>
      <%= render 'posts/quote', quote: post.quoted %>
    <% end %>
      <p class="tabular-post">
      <%= format_text(post.content) %>
      </p>
    </td>
  </tr>
<% else %>
  <!-- <%= poster_for post, params[:page] %> -->
<% end %>
