<% if displayable?(post)  %>
  <tr class="cell3">
    <%= content_tag :td, nil, class: 'poster' %>

    <td>
      <%= anchor_tag(post) %>
      <span class="post-info">
        <strong>Posted:</strong> <%= format_date(post.created_at) %>
      </span>

      <% if post.contact %>
        <span class="post-info">
          <%= contact_link_for(@topic, post: post) %>
        </span>
      <% end %>

      <span class="post-info">
        <%= report_link_for(@topic, post: post) %>
      </span>
      <span class="post-info">
        <%= quote_link_for(post) %>
      </span>

      <% if admin_user? %>
        <span class="post-info">
          <%= delete_link_for(@topic, post: post) %>
        </span>
      <% end %>
    </td>
  </tr>

  <tr class="cell4">
    <td class="poster">
      <div class="poster">
        <%= post.poster %>
      </div>
    </td>
    <td>
      <% if has_displayable_quote?(post) %>
        <%= render 'posts/quote', quote: post.quoted %>
      <% end %>

      <p class="tabular-post">
        <%= format_text(post.content) %>
      </p>
    </td>
  </tr>
<% else %>
  <!-- <%= post.poster %> -->
<% end %>
