<% if post.visible %>
  <tr class="cell3">
    <td width="80px" class="cell3">
    </td>
    <td colspan="100%">
      <a name="p<%= post.id %>"></a>
      <b>Posted:</b> <%= format_date(post.created_at) %>
      <% if post.contact %>
        &nbsp;|&nbsp;
        <b><%= link_to "Contact", new_pm_topic_path(@topic, post)  %></b>
      <% end %>
      <% if logged_in? %>
        &nbsp;|&nbsp;
        <%= link_to "Report", post, method: :patch,
                              data: { confirm: "Flag this post for moderation?" } %>
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to "Quote", quote_path(@topic, post) %>
      <% if admin_check %>
        &nbsp;|&nbsp;
        <%= link_to 'X', post, class: 'crimson', method: :delete,
                         data: { confirm: "Really delete this post?" } %>
      <% end %>
    </td>
  </tr>
  <tr class="cell4">
    <td width="80px">
      <div class="poster">
        <%= poster_for post, params[:page] %>
      </div>
    </td>
    <td colspan="100%">
  <% unless post.quote.nil? || !Post.find_by(id: post.quote).visible %>
      <div class="quote">
        <%= link_to "Quote:", '#' %>
        <br />
        <%= Post.find_by(id: post.quote).content %>
      </div>
  <% end %>
      <p class="post2">
        <%= post.content %>
      </p>
    </td>
  </tr>
<% else %>
  <!-- <%= poster_for post,params[:page] %> -->
<% end %>
