<% provide(:title, @topic.title)
   provide(:width, '580')
   provide(:form_first, 'true') %>
<%= form_for @post do |f| %>
<table width="100%" class="content" style="<%= width_override yield(:width) %>">
  <%= f.hidden_field :topic_id, value: @topic.id %>
  <%= render 'layouts/header' %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if !@quote.nil? %>
  <tr class="cell2">
    <td colspan="3">
      <%= f.label :quote, "Quote" %>
    </td>
  </tr>
  <%= render @quote %>
  <% end %>
  <tr class="cell2">
    <td colspan="3">
      <%= f.label :content, "Message" %>
    </td>
  </tr>
  <tr class="info">
    <td colspan="3">
      <p align="center">
        <%= f.text_area :content, cols: 60, rows: 20 %>
      </p>
    </td>
  </tr>
  <% if !@quote.nil? %>
  <tr class="cell2">
    <td colspan="3">
      Options
    </td>
  </tr>
  <tr class="info">
    <td style="width: 145px;">
      &nbsp;
    </td>
    <td>
      <p align="center">
        <%= f.check_box :quote, { checked: true }, @quote.id, nil %> <b>Include quote?</b>
      </p>
    </td>
    <td style="width: 145px;">
      &nbsp;
    </td>
  </tr>
  <% end %>
  <tr class="cell1">
    <td colspan="3" class="footer">
      <p align="center">
        <%= f.submit "Post",    name: 'submit' %>
        <%= f.submit "Preview", name: 'preview', disabled: true %>
      </p>
    </td>
  </tr>
</table>
<% end %>
