<% provide(:title, @pm_topic.title)
   provide(:form_first, 'true') %>
<%= form_for @pm_post, url: create_pm_topic_post_path(@pm_topic.id),
                       method: :post do |f| %>
<table width="100%" class="content" style="">
  <%= f.hidden_field :pm_topic_id, value: @pm_topic.id %>
  <%= render 'layouts/header' %>
  <tr class="cell2">
    <td colspan="100%">
      Private Message
    </td>
  </tr>
  <%= render @pm_posts %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'shared/content_form',   f: f %>
  <%= render 'shared/handshake_form', f: f unless handshake_offered %>
  <%= render 'shared/submit_form',    f: f %>
</table>
<% end %>
